{% extends 'template.html.twig' %}
{% block stylesheet %}
{{ parent() }}
<link href="../../node_modules/flowbite/dist/flowbite.css" rel="stylesheet">
{% endblock %}

{% block content %}

{% for data in getData %}

    <div class="w-fit mx-auto">
        <a href="?route=showCode&class={{ data.class|lower }}&id={{ data.id }}"><img src="{{ data.img }}" alt="{{ data.descp }}"></a>
    </div>
    {% endfor %}
{% endblock %}
{% block javascript %}
{{ parent() }}
<script src="scripts/copyCodeScript.js"></script>
<script src="../../node_modules/flowbite/dist/flowbite.js"></script>

{% endblock %}
